$highlight: transparentize(#90d3c8, .5);


.debate {
  clear: both;

  div.candidates,
  div.quotes,
  div.news {
    clear: both;
  }

  header {
    background-color: $highlight;
    font-family: $base-sans-serif;
    margin-bottom: 1em;
    padding: 0 1em;

    h2 {
      font-size: 2em;
      padding: .5em 0;
    }

    h3 {
      font-size: 1.25em;
      padding: 1em 0;
    }
  }

  .candidates {

    h3 {
      font-family: $base-sans-serif;
      font-size: 1.25em;
      margin-bottom: 1em;
      padding: 0 1em;
      padding: 1em 0;
    }

    .candidate {
      .republican { color: red; }
      .democratic { color: blue; }
    }

    &.candidates-four {
      div.candidate {
        @include span-columns(3 of 12);
        @include omega-reset(2n);
        text-align: center;

        @include media(max-width 655px) {
          @include span-columns(6 of 12);
          @include omega(2n);
        }
      }
    }

    &.candidates-two {
      div.candidate {
        @include span-columns(6 of 12);
        text-align: center;
      }
    }
  }

  .news {
    blockquote {
      p { margin: 0.25em 0; }
    }
  }

  .quotes {
    .quote {
      margin: 1em 0;
      p { margin: .25em 0; }
    }
  }
}
