$highlight: transparentize(#90d3c8, .5);
$yellow-highlight: transparentize($tribune-yellow, .5);

.debate {
  clear: both;

  div.candidates,
  div.quotes,
  div.news {
    clear: both;
  }

  header {
    background-color: $highlight;
    font-family: $base-sans-serif;
    margin-bottom: 1em;
    padding: 0 1em;

    h2 {
      font-size: 2em;
      padding: .5em 0;
    }
  }

  h3 {
    font-size: 1.25em;
  }

  .explainer-text {
    margin: 0 1em 1em;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.candidates {

  .candidate {
    .republican { color: rgb(255, 0, 0); }
    .democratic { color: rgb(0, 0, 255); }
  }

  &.candidates-four {
    div.candidate {
      @include span-columns(3 of 12);
      text-align: center;
    }
  }

  &.candidates-three {
    div.candidate {
      @include span-columns(4 of 12);
      text-align: center;
    }
  }

  &.candidates-two {
    div.candidate {
      @include span-columns(6 of 12);
      text-align: center;
    }
  }
}
