$highlight: transparentize(#90d3c8, .5);
$sub-highlight: transparentize(#90d3c8, .8);

.prose {
  margin-right: 0;
  margin-left: 0;
  padding: 0;

  p,
  ul {
    margin-left: 1em;
  }

  h3 {
    margin: 0 0 1em;
  }
}

.debate {
  clear: both;

  div.candidates,
  div.quotes,
  div.news {
    clear: both;
  }

  header {
    background-color: $highlight;
    font-family: $base-sans-serif;
    padding: 0 1em;

    h2 {
      font-size: 2em;
      padding: .5em 0;
    }
  }

  h3 {
    background-color: $sub-highlight;
    font-size: 1.25em;
    padding: .5em 1em;
  }

  .explainer-text {
    margin: 0 1em 1em;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.republican { color: rgb(255, 0, 0); }
.democratic { color: rgb(0, 0, 255); }

.candidate {
  margin-bottom: 2em;
  text-align: center;
}

$medium: new-breakpoint(max-width em(600));

.candidates-two {
  .candidate {
    @include span-columns(6 of 12);
  }
}

.candidates-four {
  .candidate {
    @include span-columns(3 of 12);

    @include media($medium) {
      // margin-bottom: em(10);
      @include span-columns(6 of 12);
      @include omega(2n);
    }
  }
}
